html, body {
    min-width: 320px;
    text-align: center;
}
#form-body { 
    max-width: 80%;
    background-color: lightgray;
    margin: 0 auto;
}
ul {
    list-style: none;
}
.labels {
    display: inline-block;
    width: 40%;
}
.answers {
    display: inline-block;
    width: 48%;
}